{% extends 'layouts/base.html.twig' %}

{% block title "Pinterest | Acceuil" %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">

            <article class="pin bg-white rounded shadow">
                <div class="mw-100 overflow-hidden rounded-top">
                    <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) :asset('build/images/placeholder.jpeg')) |imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100"/>
                    </a>
                </div>
                <h2 class="h5 pl-3 pt-3">
                    <a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-secondary text-decoration-none">{{ pin.title }}</a>
                </h2>
                <p class="text-muted pl-3 pb-3">
                    <small>Crée par [OWNER FULL NAME]</small>
                    <time datetime="{{ pin.createdAt|date('d-m-Y H:i:s') }}">{{ pin.createdAt|ago(locale='fr') }}</time>
                </p>

                <p class="pl-3 pb-3">
                    {{ pin.description }}
                </p>

                <div class="pl-3 pb-3">

                    <a
                    href="#" onclick="event.preventDefault();
                    confirm('Etes vous sûr de vouloir supprimer ce pin?') &&
                    document.getElementById('js-pin-delete-form').submit()"
                    class="btn btn-light">
                        Supprimer le Pin
                    </a>

                    <a
                    href="{{ path('app_pins_edit', {'id' : pin.id}) }}"
                    class="btn btn-light">
                        Editer le Pin
                    </a>

                    <form id="js-pin-delete-form" action="{{ path('app_pins_delete',{ 'id' : pin.id}) }}" method="POST" style="display: none">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_'~pin.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </div>
            </article>

        </div>
    </div>
{% endblock %}