{% extends 'layouts/base.html.twig' %}

{% block title "Pinterest | S'enregistrer" %}


{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-5">
                Créer un compte
            </h1>

            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.firstName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.lastName) }}
                </div>
            </div>

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary btn-lg btn-block">S'enregister</button>

            <p class="my-3 text-center text-muted">
                Vous avez déjà un compte?
                <a href="{{ path('app_login') }}">
                    Connectez-vous
                </a>
            </p>

            {{ form_end(registrationForm) }}
        </div>

    </div>
{% endblock %}
